// See PACKETS.md for information

// version: major minor
version 0 0

// File containing scramble code
scramble "res/util/scramble"

serverbound {
    send_message 0x4000 "ri" content="nts"
    connect 0x4002 "ri" nickname="lds"
    change_nickname 0x4003 "ri" nickname="lds"
    disconnect 0x4004 reason="lds"
    direct_message 0x4005 "ri" target="lds" content="nts"
    command 0x4006 "ri" keyword="lds"
}

clientbound {
    keep_alive 0x8000 "r"
    recieve_message 0x8001 nickname="lds" content="nts"
    connect 0x8002 nickname="lds" message="lds"
    disconnect 0x8004 nickname="lds" message="lds"
    direct_message 0x8005 source="lds" content="nts"
}

twoway {
    response 0x0000 value="uint8" content="nts"
}
